<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Khosatho Mono - Full Stack Developer Portfolio">
    <title>Mongezi Wopula | Creative Artist</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
  
    <header class="landing">
        <div class="overlay">
            <div class="content">
                    <div class="container">
                  <div class="neon">Hi </div>
                  <div class="flux">I am MONGEZI WOPULA</div>
                    </div>
                <p class="fine">🅕🅘🅝🅔 🅐🅡🅣🅘🅢🅣</p>
                <a [routerLink]="about" class="btn matrix">
                    <button class="btn hologram">
                        <span data-text="Explore">Explore</span>
                         <div class="scan-line"></div>
                    </button>
                    <div class="code-rain"></div>
                </a>




            </div>
        </div>
    </header>

</body>
</html>

